*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.title{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box{
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: space-around;
}

.image-container{
    position: relative;
}

.image-container img{
    height: 100%;
    width: 800px;
}

.transition-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.transition-img:hover{
    opacity: 1;
}

.fade::after{
    content: 'The mountains';
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade:hover::after{
    opacity: 0.5;
}
